[submodule "otawa"]
	path = otawa
	url = https://github.com/statinf-otawa/otawa
[submodule "elm"]
	path = elm
	url = https://github.com/statinf-otawa/elm
[submodule "thot"]
	path = thot
	url = https://github.com/statinf-otawa/Thot
[submodule "frontc"]
	path = frontc
	url = https://github.com/statinf-otawa/frontc
[submodule "orange"]
	path = orange
	url = https://github.com/statinf-otawa/orange
[submodule "gelpp"]
	path = gelpp
	url = https://github.com/statinf-otawa/gelpp
[submodule "obviews"]
	path = obviews
	url = https://github.com/statinf-otawa/obviews
[submodule "tms"]
	path = archs/tms
	url = https://github.com/statinf-software/tms
[submodule "otawa-tms"]
	path = archs/otawa-tms
	url = https://github.com/statinf-software/otawa-tms
[submodule "otawa-tricore"]
	path = archs/otawa-tricore
	url = https://github.com/statinf-otawa/otawa-tricore.git
[submodule "otawa-TC275T"]
	path = archs/otawa-TC275T
	url = https://github.com/hcasse/otawa-TC275T.git
[submodule "archs/gliss2"]
	path = archs/gliss2
	url = https://github.com/statinf-otawa/gliss2
[submodule "archs/riscv"]
	path = archs/riscv
	url = https://github.com/statinf-otawa/riscv
[submodule "otawa-riscv"]
	path = archs/otawa-riscv
	url = https://github.com/statinf-otawa/otawa-riscv.git
[submodule "archs/armv5t"]
	path = archs/armv5t
	url = https://github.com/statinf-otawa/armv5t.git
[submodule "archs/armv7t"]
	path = archs/armv7t
	url = https://github.com/statinf-otawa/armv7t.git
[submodule "archs/mips"]
	path = archs/mips
	url = https://git.renater.fr/anonscm/git/gliss2/mips.git
[submodule "archs/ppc"]
	path = archs/ppc
	url = https://git.renater.fr/anonscm/git/gliss2/ppc.git
[submodule "archs/sparc"]
	path = archs/sparc
	url = https://git.renater.fr/anonscm/git/gliss2/sparc.git
[submodule "archs/tricore"]
	path = archs/tricore
	url = https://github.com/statinf-otawa/tricore.git
[submodule "otawa-ppc"]
	path = archs/otawa-ppc
	url = https://git.renater.fr/anonscm/git/otawa/otawa-ppc.git
[submodule "otawa-mpc5554"]
	path = archs/otawa-mpc5554
	url = https://git.renater.fr/anonscm/git/otawa/otawa-mpc5554.git
[submodule "otawa-arm"]
	path = archs/otawa-arm
	url = https://github.com/statinf-otawa/otawa-arm.git
[submodule "gel"]
	path = gel
	url = https://git.renater.fr/anonscm/git/otawa/gel.git
[submodule "lp_solve5"]
	path = lp_solve5
	url = https://git.renater.fr/anonscm/git/otawa/lp_solve5.git
[submodule "otawa-lp_solve5"]
	path = otawa-lp_solve5
	url = https://git.renater.fr/anonscm/git/otawa/otawa-lp_solve5.git
[submodule "archs/aarch64-armv8v9"]
	path = archs/aarch64-armv8v9
	url = https://github.com/statinf-software/aarch64-armv8v9
[submodule "archs/otawa-aarch64"]
	path = archs/otawa-aarch64
	url = https://github.com/statinf-software/otawa-aarch64
[submodule "otawa-clp"]
	path = otawa-clp
	url = https://git.renater.fr/anonscm/git/otawa/otawa-clp.git
[submodule "otawa-dcache"]
	path = otawa-dcache
	url = https://github.com/statinf-otawa/otawa-dcache.git
[submodule "archs/otawa-xilinx"]
	path = archs/otawa-xilinx
	url = https://github.com/statinf-otawa/otawa-xilinx.git
[submodule "archs/otawa-STM32F427"]
	path = archs/otawa-xilinx
	url = https://github.com/statinf-otawa/otawa-STM32F427.git

